---
import Layout from "../layouts/Layout.astro";
---

<Layout title="BD2-PROYECT">
  <main class="pt-16">
    <div class="flex items-center justify-center border-green-500">
      <h1 class="text-6xl font-bold specialtext">Proyecto de Base de datos 2</h1>
    </div>
  </main>
</Layout>
